.cart {
  &__container {
    padding-block: 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;

    width: 100%;
  }

  &__block {
    margin: 0 auto;

    display: flex;
    gap: 24px;
  }

  &__btn {
    margin-top: 42px;
    padding: 16px;
    background-color: black;
    border-radius: 5px;

    font-size: 20px;
    color: white;
  }
}
