@use '../../scss/tools/index' as *;

.header {
  position: sticky;
  top: 0;
  z-index: 1000;

  background-color: $white;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    padding-block: 24px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    gap: 24px;

    width: 50%;

    a {
      font-size: 24px;
    }
  }
}

.logo {
  font-family: Play, serif;
  font-size: 100px;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  color: #000;
  background: linear-gradient(
    90deg,
    #000000,
    #4f4f4f,
    #a0a0a0,
    #4f4f4f,
    #000000
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 10s ease infinite;

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.link {
  position: relative;
  padding: 8px 0;

  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-decoration: none;

  transition: color 0.3s ease-in-out;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: $link-active;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
  }

  &_active {
    color: initial !important;

    &::after {
      width: 100%;
      left: 0;
    }
  }

  &:hover,
  &:active {
    color: $content-active;
  }
}

.cart {
  position: relative;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 12px;

  &__capture {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-decoration: none;
  }

  &__img {
    width: 24px;
    height: 24px;
  }

  &__counter {
    position: absolute;
    top: -3px;
    right: -11px;

    display: none;

    align-items: center;
    justify-content: center;
    color: white;
    font-size: 10px;

    border-radius: 100%;
    background-color: orange;
    width: 20px;
    height: 20px;

    &_active {
      display: flex;
    }
  }
}
