// colors:
$brand-active: #6a5dc2;
$brand-disabled: #d6d2f1;
$brand-hover: #8577e1;

$link-active: #dc5dfc;

$primary: #ffffff;

$background-black: #0a0b0b;

$white: #ffffff;

$content-black: #000000;
$content-active: #b4a9ff;

// metrics:

$vh100: calc(100vh - 416px);
